
<ion-view title="添加联系人">
  <ion-content has-tabs="true">

    <div class="list list-inset">
      <label class="item item-input">
        <span class="input-label">姓</span>
        <input type="text" ng-model="contact.lastname">
      </label>
      <label class="item item-input">
        <span class="input-label">名</span>
        <input type="text" ng-model="contact.firstname">
      </label>
      <label class="item item-input item-select">
        <span class="input-label">性别</span>
        <select ng-model="contact.gender">
          <option selected>男</option>
          <option>女</option>
          <option>未知</option>
        </select>
      </label>
      <label class="item item-input">
        <span class="input-label">email</span>
        <input type="email" ng-model="contact.email">
      </label>
      <label class="item item-input">
        <span class="input-label">手机</span>
        <input type="number" ng-model="contact.phone">
      </label>
      <label class="item item-input">
        <span class="input-label">住址</span>
        <input type="text" ng-model="contact.address">
      </label>
      <label class="item item-input">
        <span class="input-label">工作</span>
        <input type="text" ng-model="contact.work">
      </label>
      <label class="item item-input">
        <span class="input-label">有什么想跟同学们说的</span>
        <input type="text" ng-model="contact.other">
      </label>

      <button ng-click="addName(contact);" class="button button-positive button-block">增加</button>
    </div>

  </ion-content>
</ion-view>
