
<ion-view name="{{contact.firstname}}" >
  <ion-content padding="true">
    <p>Name : {{contact.lastname}}{{contact.firstname}} </p>
    <p>Phone Number {{ contact.phone }}</p>
    <p>Address: {{ contact.address}} </p>

    <div class="padding">
      <button ng-click="delete()" class="button icon ion-compose button-block button-outline button-royal">
      Delete
      </button>
    </div>


    <p><a class="button button-small icon ion-arrow-left-b" href="#/tab/contacts"> All Contacts</a></p>
  </ion-content>
</ion-view>
