
<!--
  Create tabs with an icon and label, using the tabs-positive style.
  Each tab's child <ion-nav-view> directive will have its own
  navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-default">



  <ion-tab title="联系人" icon="icon ion-home" href="#/tab/contacts">
    <ion-nav-view name="contacts-tab"></ion-nav-view>
  </ion-tab>


  <ion-tab title="增加" icon="icon ion-heart" href="#/tab/add">
    <ion-nav-view name="add-tab"></ion-nav-view>
  </ion-tab>


  <ion-tab title="关于" icon="icon ion-search" href="#/tab/about">
    <ion-nav-view name="about-tab"></ion-nav-view>
  </ion-tab>


</ion-tabs>
